{% extends "master/master.html" %}
{% load static %}

{% block title_bar %}

<!-- Title Bar -->
<div class="pbmit-title-bar-wrapper" style="z-index: -1000;"> <!-- pbmit-title-bar-wrapper -->
    <div class="container">
        <div class="pbmit-title-bar-content">
            <div class="pbmit-title-bar-content-inner">
                <div class="pbmit-tbar">
                    <div class="pbmit-tbar-inner container">
                        <h1 class="pbmit-tbar-title">ABOUT US</h1>
                    </div>
                </div>
                <div class="pbmit-breadcrumb">
                    <div class="pbmit-breadcrumb-inner">
                        <span><a title="" href="#" class="home"><span>SAVIJO</span></a></span>
                        <span class="sep">
                            <i class="pbmit-base-icon-angle-double-right"></i>
                        </span>
                        <span><span class="post-root post post-post current-item">ABOUT US</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Title Bar End-->

{% endblock title_bar %}


{% block content %}

<!-- About Us Start --> 
<section class="section-md">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-12">
                <div class="about-us-img-one abut-us-inner">
                    <img src="{% static 'images/homepage-1/demo1-img-01.jpg' %}" class="img-fluid w-100" alt="">
                    {% comment %} <div class="button-wrapper">
                        <a href="#" class="button-link">
                            <span class="button-content-wrapper">
                                <span class="button-icon">
                                    <i aria-hidden="true" class="fa fa-youtube-play"></i>
                                </span>
                                <span class="button-text">See Our Industry</span>
                            </span>
                        </a>
                    </div> {% endcomment %}
                </div>
            </div> 
            <div class="col-xl-6 col-md-12">
                <div class="pbmit-element-miconheading-style-13 ">
                    <div class="pbmit-heading-subheading">
                        <h4 class="pbmit-subtitle">ABOUT OUR COMPANY</h4>
                        <h2 class="pbmit-title">INTRODUCTION<br/>COMPANY BACKGROUND</h2>
                    </div>
                    <p style="text-align: justify;">
                        Savijo Geo-Engineering Company Limited is a Tanzania 
                        registered private company founded in 2021. Currently, 
                        Office is located at Kibugumo - Kigamboni, near Kibugumo Dispensary, 
                        Dar es salaam, Tanzania. The aim of the company is providing 
                        consulting services to the fields of geotechnics, 
                        mining, geology, survey, environment, water resources, 
                        waste management, construction and Oil & Gas.
                    </p>
                    <div class="row">
                        <article class="pbmit-miconheading-style-13 col-md-12">
                            <div class="pbmit-ihbox pbmit-ihbox-style-13">
                                <div class="pbmit-ihbox-box d-flex align-items-start">
                                    <div class="pbmit-ihbox-icon">
                                        <div class="pbmit-ihbox-icon-wrapper">
                                            <i class="pbmit-industrey-icon pbmit-industrey-icon-professional"></i>
                                        </div>
                                    </div>
                                    <div class="pbmit-ihbox-contents">
                                        <h2 class="pbmit-element-title">OUR MISSION</h2>
                                        <div class="pbmit-heading-desc" style="text-align: justify;">
                                            To provide professionally high quality and efficient 
                                            technical services to the mining, energy, hydro and 
                                            engineering construction industries, fostering a safe, 
                                            healthy and environmentally friendly working environment 
                                            that contributes effectively to the sustainable development 
                                            of the entire mining, energy and construction industries.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="pbmit-miconheading-style-13 col-md-12">
                            <div class="pbmit-ihbox pbmit-ihbox-style-13">
                                <div class="pbmit-ihbox-box d-flex align-items-start">
                                    <div class="pbmit-ihbox-icon">
                                        <div class="pbmit-ihbox-icon-wrapper">
                                            <i class="pbmit-industrey-icon pbmit-industrey-icon-security-helmet"></i>
                                        </div>
                                    </div>
                                    <div class="pbmit-ihbox-contents">
                                        <h2 class="pbmit-element-title">OUR VISION</h2>
                                        <div class="pbmit-heading-desc">
                                            To be recognised as the best company in the provision 
                                            of specialised expert advice and solutions in the fields 
                                            of geotechnics, mining, geology, survey, environment, 
                                            water resources, waste management and Oil &amp; Gas in Tanzania and internationally.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us End --> 

<!-- Counter Start --> 
<section class="section-xt pbmit-bg-color-blackish">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="pbmit-heading-subheading text-global mb-0 pt-2">
                    <h4 class="pbmit-subtitle">NUMBERS SPEAK</h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pbmit-heading-subheading text-white">
                    <h2 class="pbmit-title">We have twenty years of great experience of various type industries</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="pbminfotech-ele-fid-style-1 ">
                    <div class="pbmit-fld-contents">
                        <div class="pbmit-sbox-icon-wrapper"><i class="fas fa-star"></i></div>
                        <div class="pbmit-fld-wrap">
                            <h4 class="pbmit-fid-inner">
                                <span class="pbmit-number-rotate numinate" data-appear-animation="animateDigits" data-from="0" data-to="6154" data-interval="5" data-before="" data-before-style="" data-after="" data-after-style="">6154</span>
                                <span class="pbmit-fid"></span>
                            </h4>
                            <div class="pbmit-fid-contents">
                                <div class="pbmit-fid-title"><span>Project Completed<br>Last 5 Years</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pbminfotech-ele-fid-style-1 ">
                    <div class="pbmit-fld-contents">
                        <div class="pbmit-sbox-icon-wrapper"><i class="fas fa-star"></i></div>
                        <div class="pbmit-fld-wrap">
                            <h4 class="pbmit-fid-inner">
                                <span class="pbmit-number-rotate numinate" data-appear-animation="animateDigits" data-from="0" data-to="1124" data-interval="5" data-before="" data-before-style="" data-after="" data-after-style="">1124</span>
                                <span class="pbmit-fid"></span>
                            </h4>
                            <div class="pbmit-fid-contents">
                                <div class="pbmit-fid-title"><span>Great Experienced <br> Team Member</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pbminfotech-ele-fid-style-1 ">
                    <div class="pbmit-fld-contents">
                        <div class="pbmit-sbox-icon-wrapper"><i class="fas fa-star"></i></div>
                        <div class="pbmit-fld-wrap">
                            <h4 class="pbmit-fid-inner">
                                <span class="pbmit-number-rotate numinate" data-appear-animation="animateDigits" data-from="0" data-to="687" data-interval="5" data-before="" data-before-style="" data-after="" data-after-style="">687</span>
                                <span class="pbmit-fid"></span>
                            </h4>
                            <div class="pbmit-fid-contents">
                                <div class="pbmit-fid-title"><span>Clients Worldwide <br> in 10 Years</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- Counter End --> 

<!-- Team Start --> 
<section class="" style="margin-top: 100px; margin-bottom: 50px;">
    <div class="container">
        <div class="pbmit-heading-subheading text-center">
            <h4 class="pbmit-subtitle">KNOWLEDGEABLE TEAM</h4>
            <h2 class="pbmit-title">We have a dedicated & hardworking <br> team in our company</h2>
        </div>
        <div class="row">
            <article class="pbmit-team-style-1 col-md-6 col-lg-3">
                <div class="pbminfotech-post-item">
                    <div class="pbminfotech-team-image-box">
                        <div class="pbmit-featured-wrapper">
                            <img src="{% static 'images/homepage-2/team/team-01.jpg' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="pbminfotech-box-content d-flex justify-content-between align-items-center">
                        <div class="pbmit-member-content">
                            <div class="pbminfotech-box-team-position-wrap">
                                <div class="pbminfotech-box-team-position">Founder, CEO</div>
                            </div>
                            <h5 class="pbmit-team-title">
                                <a href="team-member-details.html">Justin Novak</a>
                            </h5>
                        </div>
                        <div class="pbmit-member-social">
                            <div class="pbmit-team-btn">
                                <a class="pbmit-team-text" href="#">
                                    <i class="demo-icon pbmit-base-icon-plus"></i>
                                </a>
                            </div>
                            <div class="pbminfotech-box-social-links">
                                <ul class="pbmit-social-links pbmit-team-social-links">
                                    <li class="pbmit-social-li pbmit-social-facebook">
                                        <a href="#" title="Facebook" target="_blank">
                                            <span><i class="pbmit-base-icon-facebook-squared"></i></span>
                                        </a>
                                    </li>
                                    <li class="pbmit-social-li pbmit-social-twitter">
                                        <a href="#" title="Twitter" target="_blank">
                                            <span><i class="pbmit-base-icon-twitter"></i></span>
                                        </a>
                                    </li>
                                    <li class="pbmit-social-li pbmit-social-youtube">
                                        <a href="#" title="Youtube" target="_blank">
                                            <span><i class="pbmit-base-icon-youtube-play"></i></span>
                                        </a>
                                    </li>
                                    <li class="pbmit-social-li pbmit-social-linkedin">
                                        <a href="#" title="LinkedIn" target="_blank">
                                            <span><i class="pbmit-base-icon-linkedin-squared"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="pbmit-team-style-1 col-md-6 col-lg-3">
                <div class="pbminfotech-post-item">
                    <div class="pbminfotech-team-image-box">
                        <div class="pbmit-featured-wrapper">
                            <img src="{% static 'images/homepage-2/team/team-02.jpg' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="pbminfotech-box-content d-flex justify-content-between align-items-center">
                        <div class="pbmit-member-content">
                            <div class="pbminfotech-box-team-position-wrap">
                                <div class="pbminfotech-box-team-position">SENIOR ADVISOR</div>
                            </div>
                            <h5 class="pbmit-team-title">
                                <a href="team-member-details.html">NORTON BERRY</a>
                            </h5>
                        </div>
                        <div class="pbmit-member-social">
                            <div class="pbmit-team-btn">
                                <a class="pbmit-team-text" href="#">
                                    <i class="demo-icon pbmit-base-icon-plus"></i>
                                </a>
                            </div>
                            <div class="pbminfotech-box-social-links">
                                <ul class="pbmit-social-links pbmit-team-social-links">
                                    <li class="pbmit-social-li pbmit-social-facebook">
                                        <a href="#" title="Facebook" target="_blank">
                                            <span><i class="pbmit-base-icon-facebook-squared"></i></span>
                                        </a>
                                    </li>
                                    <li class="pbmit-social-li pbmit-social-twitter">
                                        <a href="#" title="Twitter" target="_blank">
                                            <span><i class="pbmit-base-icon-twitter"></i></span>
                                        </a>
                                    </li>
                                    <li class="pbmit-social-li pbmit-social-youtube">
                                        <a href="#" title="Youtube" target="_blank">
                                            <span><i class="pbmit-base-icon-youtube-play"></i></span>
                                        </a>
                                    </li>
                                    <li class="pbmit-social-li pbmit-social-linkedin">
                                        <a href="#" title="LinkedIn" target="_blank">
                                            <span><i class="pbmit-base-icon-linkedin-squared"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="pbmit-team-style-1 col-md-6 col-lg-3">
                <div class="pbminfotech-post-item">
                    <div class="pbminfotech-team-image-box">
                        <div class="pbmit-featured-wrapper">
                            <img src="{% static 'images/homepage-2/team/team-03.jpg' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="pbminfotech-box-content d-flex justify-content-between align-items-center">
                        <div class="pbmit-member-content">
                            <div class="pbminfotech-box-team-position-wrap">
                                <div class="pbminfotech-box-team-position">CO-FOUNDER, CEO</div>
                            </div>
                            <h5 class="pbmit-team-title">
                                <a href="team-member-details.html">EDWARD SMITH
                                </a>
                            </h5>
                        </div>
                        <div class="pbmit-member-social">
                            <div class="pbmit-team-btn">
                                <a class="pbmit-team-text" href="#">
                                    <i class="demo-icon pbmit-base-icon-plus"></i>
                                </a>
                            </div>
                            <div class="pbminfotech-box-social-links">
                                <ul class="pbmit-social-links pbmit-team-social-links">
                                    <li class="pbmit-social-li pbmit-social-facebook">
                                        <a href="#" title="Facebook" target="_blank">
                                            <span><i class="pbmit-base-icon-facebook-squared"></i></span>
                                        </a>
                                    </li>
                                    <li class="pbmit-social-li pbmit-social-twitter">
                                        <a href="#" title="Twitter" target="_blank">
                                            <span><i class="pbmit-base-icon-twitter"></i></span>
                                        </a>
                                    </li>
                                    <li class="pbmit-social-li pbmit-social-youtube">
                                        <a href="#" title="Youtube" target="_blank">
                                            <span><i class="pbmit-base-icon-youtube-play"></i></span>
                                        </a>
                                    </li>
                                    <li class="pbmit-social-li pbmit-social-linkedin">
                                        <a href="#" title="LinkedIn" target="_blank">
                                            <span><i class="pbmit-base-icon-linkedin-squared"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="pbmit-team-style-1 col-md-6 col-lg-3">
                <div class="pbminfotech-post-item">
                    <div class="pbminfotech-team-image-box">
                        <div class="pbmit-featured-wrapper">
                            <img src="{% static 'images/homepage-2/team/team-04.jpg' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="pbminfotech-box-content d-flex justify-content-between align-items-center">
                        <div class="pbmit-member-content">
                            <div class="pbminfotech-box-team-position-wrap">
                                <div class="pbminfotech-box-team-position">ADVISOR</div>
                            </div>
                            <h5 class="pbmit-team-title">
                                <a href="team-member-details.html">DAVID BECKHAM</a>
                            </h5>
                        </div>
                        <div class="pbmit-member-social">
                            <div class="pbmit-team-btn">
                                <a class="pbmit-team-text" href="#">
                                    <i class="demo-icon pbmit-base-icon-plus"></i>
                                </a>
                            </div>
                            <div class="pbminfotech-box-social-links">
                                <ul class="pbmit-social-links pbmit-team-social-links">
                                    <li class="pbmit-social-li pbmit-social-facebook">
                                        <a href="#" title="Facebook" target="_blank">
                                            <span><i class="pbmit-base-icon-facebook-squared"></i></span>
                                        </a>
                                    </li>
                                    <li class="pbmit-social-li pbmit-social-twitter">
                                        <a href="#" title="Twitter" target="_blank">
                                            <span><i class="pbmit-base-icon-twitter"></i></span>
                                        </a>
                                    </li>
                                    <li class="pbmit-social-li pbmit-social-youtube">
                                        <a href="#" title="Youtube" target="_blank">
                                            <span><i class="pbmit-base-icon-youtube-play"></i></span>
                                        </a>
                                    </li>
                                    <li class="pbmit-social-li pbmit-social-linkedin">
                                        <a href="#" title="LinkedIn" target="_blank">
                                            <span><i class="pbmit-base-icon-linkedin-squared"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
<!-- Team End --> 

{% endblock content %}