{% extends "master/master.html" %}
{% load static %}

{% block title_bar %}

<!-- Title Bar -->
<div class="pbmit-title-bar-wrapper" style="z-index: -1000;"> <!-- pbmit-title-bar-wrapper -->
    <div class="container">
        <div class="pbmit-title-bar-content">
            <div class="pbmit-title-bar-content-inner">
                <div class="pbmit-tbar">
                    <div class="pbmit-tbar-inner container">
                        <h1 class="pbmit-tbar-title">OUR TEAM MEMBER</h1>
                    </div>
                </div>
                <div class="pbmit-breadcrumb">
                    <div class="pbmit-breadcrumb-inner">
                        <span><a title="" href="#" class="home"><span>SAVIJO</span></a></span>
                        <span class="sep">
                            <i class="pbmit-base-icon-angle-double-right"></i>
                        </span>
                        <span><span class="post-root post post-post current-item">OUR TEAM MEMBER</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Title Bar End-->

{% endblock title_bar %}


{% block content %}

<!-- Our Team Style 1 -->
<section class="section-lg">
    <div class="container">
        <div class="pbmit-heading-subheading text-center">
            <h4 class="pbmit-subtitle">TEAM MEMBER</h4>
            {% comment %} <h2 class="pbmit-title">Team Style 1</h2> {% endcomment %}
        </div>
        <div class="row">
            <div class="col-md-4">
                <article class="pbmit-team-style-1">
                    <div class="pbminfotech-post-item">
                        <div class="pbminfotech-team-image-box">
                            <div class="pbmit-featured-wrapper">
                                <img src="{% static 'images/team/sofrt-3.jpg' %}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="pbminfotech-box-content d-flex justify-content-between align-items-center">
                            <div class="pbmit-member-content">
                                <div class="pbminfotech-box-team-position-wrap">
                                    <div class="pbminfotech-box-team-position">Founder &amp; CEO</div>
                                </div>
                                <h5 class="pbmit-team-title">
                                    <a href="team-member-details.html">Sapiance Masala Malimi</a>
                                </h5>
                            </div>
                            <div class="pbmit-member-social">
                                <div class="pbmit-team-btn">
                                    <a class="pbmit-team-text" href="#">
                                        <i class="demo-icon pbmit-base-icon-plus"></i>
                                    </a>
                                </div>
                                <div class="pbminfotech-box-social-links">
                                    <ul class="pbmit-social-links pbmit-team-social-links">
                                        <li class="pbmit-social-li pbmit-social-facebook">
                                            <a href="#" title="Facebook" target="_blank">
                                                <span><i class="pbmit-base-icon-facebook-squared"></i></span>
                                            </a>
                                        </li>
                                        <li class="pbmit-social-li pbmit-social-twitter">
                                            <a href="#" title="Twitter" target="_blank">
                                                <span><i class="pbmit-base-icon-twitter"></i></span>
                                            </a>
                                        </li>
                                        <li class="pbmit-social-li pbmit-social-youtube">
                                            <a href="#" title="Youtube" target="_blank">
                                                <span><i class="pbmit-base-icon-youtube-play"></i></span>
                                            </a>
                                        </li>
                                        <li class="pbmit-social-li pbmit-social-linkedin">
                                            <a href="#" title="LinkedIn" target="_blank">
                                                <span><i class="pbmit-base-icon-linkedin-squared"></i></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="pbmit-team-style-1">
                    <div class="pbminfotech-post-item">
                        <div class="pbminfotech-team-image-box">
                            <div class="pbmit-featured-wrapper">
                                <img src="{% static 'images/team/vivian-2.jpg' %}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="pbminfotech-box-content d-flex justify-content-between align-items-center">
                            <div class="pbmit-member-content">
                                <div class="pbminfotech-box-team-position-wrap">
                                    <div class="pbminfotech-box-team-position">Director &amp; Secretary</div>
                                </div>
                                <h5 class="pbmit-team-title">
                                    <a href="team-member-details.html">Vivian Gadiel Masaki</a>
                                </h5>
                            </div>
                            <div class="pbmit-member-social">
                                <div class="pbmit-team-btn">
                                    <a class="pbmit-team-text" href="#">
                                        <i class="demo-icon pbmit-base-icon-plus"></i>
                                    </a>
                                </div>
                                <div class="pbminfotech-box-social-links">
                                    <ul class="pbmit-social-links pbmit-team-social-links">
                                        <li class="pbmit-social-li pbmit-social-facebook">
                                            <a href="#" title="Facebook" target="_blank">
                                                <span><i class="pbmit-base-icon-facebook-squared"></i></span>
                                            </a>
                                        </li>
                                        <li class="pbmit-social-li pbmit-social-twitter">
                                            <a href="#" title="Twitter" target="_blank">
                                                <span><i class="pbmit-base-icon-twitter"></i></span>
                                            </a>
                                        </li>
                                        <li class="pbmit-social-li pbmit-social-youtube">
                                            <a href="#" title="Youtube" target="_blank">
                                                <span><i class="pbmit-base-icon-youtube-play"></i></span>
                                            </a>
                                        </li>
                                        <li class="pbmit-social-li pbmit-social-linkedin">
                                            <a href="#" title="LinkedIn" target="_blank">
                                                <span><i class="pbmit-base-icon-linkedin-squared"></i></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="pbmit-team-style-1">
                    <div class="pbminfotech-post-item">
                        <div class="pbminfotech-team-image-box">
                            <div class="pbmit-featured-wrapper">
                                <img src="{% static 'images/team/team-03.jpg' %}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="pbminfotech-box-content d-flex justify-content-between align-items-center">
                            <div class="pbmit-member-content">
                                <div class="pbminfotech-box-team-position-wrap">
                                    <div class="pbminfotech-box-team-position">Chief Geophyicist</div>
                                </div>
                                <h5 class="pbmit-team-title">
                                    <a href="team-member-details.html">Makoye Mabula Didas</a>
                                </h5>
                            </div>
                            <div class="pbmit-member-social">
                                <div class="pbmit-team-btn">
                                    <a class="pbmit-team-text" href="#">
                                        <i class="demo-icon pbmit-base-icon-plus"></i>
                                    </a>
                                </div>
                                <div class="pbminfotech-box-social-links">
                                    <ul class="pbmit-social-links pbmit-team-social-links">
                                        <li class="pbmit-social-li pbmit-social-facebook">
                                            <a href="#" title="Facebook" target="_blank">
                                                <span><i class="pbmit-base-icon-facebook-squared"></i></span>
                                            </a>
                                        </li>
                                        <li class="pbmit-social-li pbmit-social-twitter">
                                            <a href="#" title="Twitter" target="_blank">
                                                <span><i class="pbmit-base-icon-twitter"></i></span>
                                            </a>
                                        </li>
                                        <li class="pbmit-social-li pbmit-social-youtube">
                                            <a href="#" title="Youtube" target="_blank">
                                                <span><i class="pbmit-base-icon-youtube-play"></i></span>
                                            </a>
                                        </li>
                                        <li class="pbmit-social-li pbmit-social-linkedin">
                                            <a href="#" title="LinkedIn" target="_blank">
                                                <span><i class="pbmit-base-icon-linkedin-squared"></i></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="pbmit-team-style-1">
                    <div class="pbminfotech-post-item">
                        <div class="pbminfotech-team-image-box">
                            <div class="pbmit-featured-wrapper">
                                <img src="{% static 'images/team/team-03.jpg' %}" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="pbminfotech-box-content d-flex justify-content-between align-items-center">
                            <div class="pbmit-member-content">
                                <div class="pbminfotech-box-team-position-wrap">
                                    <div class="pbminfotech-box-team-position">Accountant Advisor</div>
                                </div>
                                <h5 class="pbmit-team-title">
                                    <a href="team-member-details.html">Flora Lukwasi</a>
                                </h5>
                            </div>
                            <div class="pbmit-member-social">
                                <div class="pbmit-team-btn">
                                    <a class="pbmit-team-text" href="#">
                                        <i class="demo-icon pbmit-base-icon-plus"></i>
                                    </a>
                                </div>
                                <div class="pbminfotech-box-social-links">
                                    <ul class="pbmit-social-links pbmit-team-social-links">
                                        <li class="pbmit-social-li pbmit-social-facebook">
                                            <a href="#" title="Facebook" target="_blank">
                                                <span><i class="pbmit-base-icon-facebook-squared"></i></span>
                                            </a>
                                        </li>
                                        <li class="pbmit-social-li pbmit-social-twitter">
                                            <a href="#" title="Twitter" target="_blank">
                                                <span><i class="pbmit-base-icon-twitter"></i></span>
                                            </a>
                                        </li>
                                        <li class="pbmit-social-li pbmit-social-youtube">
                                            <a href="#" title="Youtube" target="_blank">
                                                <span><i class="pbmit-base-icon-youtube-play"></i></span>
                                            </a>
                                        </li>
                                        <li class="pbmit-social-li pbmit-social-linkedin">
                                            <a href="#" title="LinkedIn" target="_blank">
                                                <span><i class="pbmit-base-icon-linkedin-squared"></i></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        
    </div>
</section>
<!-- Our Team Style 1 End -->

{% endblock content %}